#homeSection {
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
}

#Column1Music {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#Column2Music {
    width: 50%;
}
#Column2Music Heading1 {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#WelcomeMessage {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 20px;
    height: 40%;
    text-align: center;
    line-height: 1.75;
}

form {
    text-align: center;

    text-decoration: none;
    color: white;
}

.buyLink {
    color: white;
    text-align: center;
}